

.feature-block-wrapper {
  @include flex(row, space-around, flex-start, wrap);
}

.feature-block {
  width: clamp(250px,31%, 400px);
  text-align: center;
  position: relative;
  top: -20px;
  opacity: 0;
  transition: top 500ms, opacity 500ms;

  &.show {
    opacity: 1;
    top: 0px;
  }

  i {
    display: block;
    font-size: 3rem;
    color: $primary-color;
    margin: 1.5rem 0rem;
  }

  h2 {
    font-size: clamp(1rem, 1.1vw, 1.5rem);
  }
}