@import '../var';
@import '../mixins';

header {
  @include flex(row, center, stretch);
  // gap: $column-gap-main; 
  // height determined by logo image
  position: fixed;
  z-index: 10;
  width: 100%;
  background: white;
  box-shadow: $box-shadow-main;
}

.header-wrapper-main {
  @include flex(row, center, flex-end);
  width: 100%;
  
}

.header-wrapper-mobile {
  display: none;
}

.header-section {
  @include flex(row, space-between, stretch);
  width: calc( (100vw - $column-width-main) / 2);


  &.left {
    justify-content: flex-end;


    a {
      display: block;
      height: $header-height;
    }
    
    .logo-image {
      width: 100%;
      padding: min(8%, 1.2rem);
      object-fit: contain;
    }
  }
  
  &.center {
    @include flex(row, flex-start, flex-end);
    width: $column-width-main;
    max-width: $max-column-width-main;
    // match main-content-wrapper
    
  }
  
  &.right {

    .header-section-wrapper {
      margin-bottom: $header-padding-bottom;
      
    }
    
  }

}

// navigation


.nav-items {
  @include flex(row, center, stretch);

  li:hover {
    // .header-hover-menu {
    //   @include flex(column, center, center);
    // }
  }

}

.nav-link {
  @include flex(row, center, flex-end);
  position: relative;
  font-family: $heading-font;
  font-weight: $semibold;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: $font-color;
  padding: $header-padding-bottom 2rem;

  &:hover, &:focus {
    color: $primary-color;
    text-decoration: none;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 5px;
      width: 100%;
      background: $primary-color;
    }

  }

}

.header-mega-menu {
  // display: none;
  @include flex(row, center, center);
  position: absolute;
  background: white;
  left: 0;
  width: 100%;
  box-shadow: $box-shadow-main;

  // &:hover, &:focus-within {
  //   @include flex(row, center, center);
  // }
  &:not(:hover, :focus, :focus-within) {
    display: none;
  }


  .header-mega-menu-wrapper {
    width: $column-width-main;
    max-width: $max-column-width-main;
    // match main-content-wrapper
  }

}

.header-brands-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
}

#brands-header {
  &:hover, &:focus {
    &~.header-mega-menu {
      @include flex(row, center, center);
    }
  }

}