
.pagination-container {
  @include flex(row, center, flex-start);
  margin: 1rem;
}

.pagination-wrapper {
  @include flex(column, center, center);
  gap: .5rem;
}

.page-numbers {
  @include flex(row, flex-start, baseline);
  gap: .5rem;
  color: $primary-color;
  font-weight: $bold;
  a {
    display: inline-block;
    padding: .3rem .5rem;
    border-radius: $border-radius-small;
    transition: background 100ms;

    &:hover {
      background: $primary-color-light;
      // text-decoration: underline;
    }

    &.selected {
      background: $primary-color;
      color: $primary-color-text;
    }
  }
}