
.slider-container {
  @include flex(column, flex-start, flex-end);
  gap: .5rem;
}

.slider-images {
  width: 100%;
  height: clamp(400px, 30vw, 600px);
  display: flex;
  position: relative;
  box-shadow: $box-shadow-main;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  left: 0;
  transition: left 800ms;
  transition-timing-function: cubic-bezier(.29,.99,.84,1);

}

.slider-image {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

