@import 'var';
@import 'mixins';

footer {
  a {
    color: $primary-color-text;

    &:hover {
      text-decoration: underline;
    }
  }
  h3 {
    margin: 0; // remove default margin
  }
}

.footer-wrapper {
  @include flex(column, center, center);
  margin: 3rem;
}

/**********************
    PRIMARY FOOTER
**********************/

.footer-main {
  @include flex(row, center, center);
  background: $primary-color;
  color: $primary-color-text;

  a {
    font-weight: $semibold;
  }
}




.footer-links {
  @include flex(row, center, flex-start, wrap);
  gap: 2.5rem;
}

.footer-column {
  @include flex(column, center, stretch);

  h3 {
    padding-bottom: .5rem;
  }

  a {
    margin: .3rem 0;
  }

  i {
    font-size: 1.5rem;
    vertical-align: middle;
    padding: 5px;
  }
}

.social-bar {
  @include flex(column, flex-start, flex-start);
}

.social-icons {
  @include flex(row, center, center);
  gap: .5rem;
}

/**********************
    SECONDARY FOOTER
**********************/

.footer-secondary {
  @include flex(row, center, center);
  color: $font-light;
  background: white;
}

.footer-logo {
  height: 100px;
}

.site-links {
  margin-top: 1rem;
  a {
    color: inherit;
    padding: 0 .5rem;

    &:not(:last-child) {
      border-right: .1rem solid;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}