@import 'var';
@import 'mixins';


* {
  font-family: $main-font;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $font-color;
  background: $bg-color;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  // clear space for header
  margin-top: $header-height;
  @include flex(row, center, center);
  padding: 1.5rem 0rem;

}

h1, h2, h3, h4 {
  font-family: $heading-font;
  font-weight: $semibold;
  text-transform: uppercase;
  margin-top: 0; // remove default top margin
  
  span {
    color: $primary-color;
    font-family: inherit; 
  }

  i {
    font-size: inherit;
  }
}

.heading {
  font-family: $heading-font;
  font-weight: $semibold;
  text-transform: uppercase;
  font-size: 1.2rem;
  &.inline {
    display: inline;
  }
}

p {
  margin-top: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &.empty-link {
    visibility: hidden;
  }

  &:hover {
    cursor: pointer;
  }
}

ul {
  margin: 0;
  margin-bottom: 1rem;
  &.nolist {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
    }
  }

  li {
    margin-bottom: .5rem;
  }
}

// icon size when using bootstrap icons
i {
  font-size: 1rem;
  color: inherit;
  display: inline-block;
  transition: all 100ms ease-in;
}

.icon-link {
  line-height: 0; // fixes icon height being greater than width
  @include flex(row, center, center);
  padding: $icon-size;
  gap: .5rem; // space between icon and text
  border-radius: 20rem;
  color: $primary-color;
  background: transparent;
  transition: background 100ms;
  font-weight: bold;
  
  &:hover {
    background: $primary-color-light;
    cursor: pointer;
  }

  i {
    font-size: 1.5rem;
  }

  // span {
  //   color: inherit;
  //   font-weight: bold;
  //   margin: 0 .3rem;
  // }

  &.light {
    color: $primary-color-text;
    &:hover {
      background: $primary-color-hover;
    }
  }
}

button, .button {
  border: none;
  font-size: inherit;
  display: inline-block;
  background: $primary-color;
  color: white;
  font-family: $heading-font;
  font-weight: $semibold;
  padding: $input-padding;
  border-radius: $border-radius-main;
  text-transform: uppercase;
  transition: background 100ms;

  &:hover {
    background: $primary-color-hover;
    cursor: pointer;
  }

  &.secondary {
    background: $secondary-color;
    color: $secondary-color-text;
  
    &:hover {
      background: $secondary-color-hover;
    }
  }

  &.small {
    padding: $input-padding-small;
  }

  &.large {
    width: 100%;
    max-width: 500px;
    font-size: 1.2rem;
    text-align: center;
  }

  &.disabled, &:disabled {
    background: rgba(0, 0, 0, 0.2);
    color: $bg-dark;
    &:hover {
      cursor: initial;
    }
  }
  
  &.next {
    &:hover {
      i {
        transform: translateX(5px);
      }
    }
  }
  
  &.prev {
    &:hover {
      i {
        transform: translateX(-5px);
      }
    }
  }
  
  // &:disabled {
  //   background: rgba(0, 0, 0, 0.2);
  //   color: $bg-dark;
  //   &:hover {
  //     cursor: initial;
  //   }
  // }

}

// for buttons that are text only (includes icons)
.text-button {
  display: inline;
  color: $primary-color;
  font-weight: $semibold;

  i {
    padding-right: .5rem;
    font-size: inherit;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// input placeholder color
::placeholder {
  color: $font-light;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea,
select {
  padding: $input-padding;
  border-radius: $border-radius-main;
  border: $border-light;
  font-size: 1rem;
  width: clamp(150px, 50%, 400px);
  resize: none;

  &:focus {
    outline-color: $primary-color;
  }

  // &.hide {
  //   display: none;
  // }
}

select {
  // for some reason the select element has
  // slightly more padding than regular text inputs
  padding-top: .42rem;
  padding-bottom: .42rem;

  &:hover {
    cursor: pointer;
  }

}

fieldset {
  border: none;
  padding: .25rem 0;
  margin-top: 4rem;
  margin-bottom: 1rem;

  &.hidden {
    display: none;
  }
  
  legend {
    font-size: 1.2rem;
    font-weight: $semibold;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}


.input-wrapper {
  @include flex(column, flex-start, flex-start);
  gap: $input-gap;
  margin-top: .3rem;
  
  &.inline {
    @include flex(row, flex-start, flex-end);
    align-self: stretch;
    
    input {
      flex-grow: 1;
    }

    .checkbox-container {
      margin: .25rem 0;
    }
  }

  &.small {
    button, input {
      padding: $input-padding-small;
      font-size: .8rem;
      
      i {
        font-size: .8rem;
      }
    }
  }
}

.logo-image {
  height: 100%;
  width: auto;
}

// hides visually but still accessible to screen readers
.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

// "back" text link and "continue" button most likely
.form-navigation-buttons {
  @include flex(row, flex-end, center);
  gap: 1rem;
  
}