@import 'var';
@import 'mixins';

header {
  @include flex(row, center, stretch);
  // gap: $column-gap-main; 
  // height determined by logo image
  position: fixed;
  z-index: 10;
  width: 100%;
  background: white;
  box-shadow: $box-shadow-main;
}

.header-wrapper-main {
  @include flex(row, center, flex-end);
  width: 100%;
  
}

.header-wrapper-mobile {
  display: none;
}

.header-section {
  @include flex(row, stretch, flex-end);

  &.left {
    justify-content: flex-end;    
    flex-basis: 25%;

    a {
      height: $header-height;
    }
    
    .logo-image {
      padding: 1rem;
    }
  }
  
  &.center {
    @include flex(row, flex-start, flex-end);
    flex-grow: 1;
    min-width: 900px;
    max-width: 1200px;
    // match main-content-wrapper
    gap: 4rem;
    
  }
  
  &.right {
    flex-basis: 25%;
    .header-section-wrapper {
      margin-bottom: $header-padding-bottom;
      
    }
    
  }

}

// navigation

.header-navigation {
  
  .nav-items {
    @include flex(row, center, stretch);
    list-style-type: none;
    padding: 0;

    li:hover {
      .header-hover-menu {
        @include flex(column, center, center);
      }
    }

  }

  .nav-link {
    @include flex(row, center, flex-end);
    position: relative;
    font-family: $heading-font;
    font-weight: $semibold;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: $font-color;
    padding: $header-padding-bottom 2rem;

    &:hover {
      color: $primary-color;
      text-decoration: none;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 5px;
        width: 100%;
        background: $primary-color;
      }
    }

  }
}

.header-hover-menu {
  display: none;
  position: absolute;
  background: white;
  left: 0;
  width: 100%;
  box-shadow: $box-shadow-main;

  .header-hover-menu-wrapper {
    min-width: 900px;
    max-width: 1200px;
    // match main-content-wrapper
  }
}

.header-brands-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
}