@import 'var';
@import 'mixins';
@import 'product-page';
@import 'checkout';
@import 'order-confirmation';


.hide {
  display: none !important;
}

/****************************************
    MAIN PAGE CONTENT LAYOUT
*****************************************/

.main-content-wrapper {
  @include flex(row, center, flex-start);
  width: 100%;
  gap: 1.5rem;
}

.main-content {
  @include flex(column, flex-start, center);
  width: $column-width-main;
  max-width: $max-column-width-main;
  gap: 3rem;
  
  &.narrow {
    width: $column-width-narrow;
    max-width: $max-column-width-narrow;
  }

  margin-bottom: 3rem;
  
}

.content-block {
  width: 100%;
  
}

.card {
  background: white;
  border-radius: $border-radius-main;
  border: 1px solid $bg-dark;
  padding: 1rem;
  box-shadow: $box-shadow-main;

}

