@import 'var';
@import 'mixins';
@import 'product-page';
@import 'checkout';
@import 'order-confirmation';

* {
  font-family: $main-font;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $font-color;
  background: $bg-color;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  // clear space for header
  margin-top: $header-height;
  @include flex(row, center, center);
  padding: 1.5rem 0rem;

}

h1, h2, h3, h4 {
  font-family: $heading-font;
  font-weight: $semibold;
  text-transform: uppercase;
  margin-top: 0; // remove default top margin

  span {
    color: $primary-color;
    font-family: inherit; 
  }
}

p {
  margin-top: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

ul {
  margin: 0;
}



// icon size when using bootstrap icons
i {
  font-size: 1rem;
  color: inherit;
  display: inline-block;
  transition: all 100ms ease-in;
}

.icon-link {
  line-height: 0; // fixes icon height being greater than width
  @include flex(row, center, center);
  padding: $icon-size;
  border-radius: 20rem;
  color: $primary-color;
  background: transparent;
  transition: background 100ms;
  
  &:hover {
    background: $primary-color-light;
    cursor: pointer;
  }

  i {
    font-size: 1.5rem;
  }

  span {
    color: inherit;
    font-weight: bold;
    margin: 0 .3rem;
  }

  &.light {
    color: $primary-color-text;
    &:hover {
      background: $primary-color-hover;
    }
  }
}

// for buttons that are text only (includes icons)
.text-button {
  display: inline;
  color: $primary-color;
  font-weight: $semibold;

  i {
    padding-right: .5rem;
    font-size: inherit;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// input placeholder color
::placeholder {
  color: $font-light;
}

.button {
  display: inline-block;
  background: $primary-color;
  color: white;
  font-family: $heading-font;
  font-weight: $semibold;
  padding: $input-padding;
  border-radius: $border-radius-main;
  text-transform: uppercase;
  transition: background 100ms;

  &:hover {
    background: $primary-color-hover;
    cursor: pointer;
  }

  &.secondary {
    background: $secondary-color;
    color: $secondary-color-text;

    &:hover {
      background: $secondary-color-hover;
    }
  }

  // anchor buttons
  &.next {
    &:hover {
      i {
        transform: translateX(5px);
      }
    }
  }

  &.prev {
    &:hover {
      i {
        transform: translateX(-5px);
      }
    }
  }

  &:disabled {
    background: $font-light;
    cursor: initial;
  }

  
}



// CUSTOM CHECKBOX

// container is <label>
.checkbox-container {
  @include flex(row, flex-start, center);
  gap: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  
  &:hover {
    cursor: pointer;
  }
  
  // hide input element
  input {
    height: 0;
    width: 0;
    display: none;
  }

  .checkbox {
    @include flex(row, center, center);
    width: 20px;
    height: 20px;
    line-height: 0;
    border: 2px solid #757575;
    border-radius: $border-radius-small;
    color: transparent; // hide checkmark
    
    i {
      font-size: 1.5rem;
    }
  }
  
  input:checked ~ .checkbox {
    background: $primary-color;
    color: white;
    border: 0;
  }
}

// CUSTOM RADIO BUTTON

.radio-container {
  @include flex(row, flex-start, center);
  gap: .5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  
  .radio {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid $primary-color;
    position: relative;
    flex-shrink: 0;
    
  }
  
  &.large {
    position: relative;
    font-size: 1.2rem;
    font-weight: $semibold;
    margin: 1rem;

  }
  
  // descriptive light text under radio label
  .label-descriptor {
    position: absolute;
    top: 100%;
    left: 2rem;
    color: $font-light;
    font-size: initial;
    font-weight: initial;
  }

  input {
    width: 0;
    height: 0;
    display: none;
  }

  input:checked ~ .radio {
    &::after {
      // radio marker
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 14px;
      background: $primary-color;
      border-radius: 50%;
    }

  }

  input:disabled ~ .radio {
    border-color: $font-light;

    &::after {
      // radio marker
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 14px;
      background: transparent;
      border-radius: 50%;
    }

  }

  &:hover {
    cursor: pointer;
  }
}


input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea,
select {
  padding: $input-padding;
  border-radius: $border-radius-main;
  border: $border-light;
  font-size: 1rem;
  width: clamp(150px, 50%, 400px);
  resize: none;

  &:focus {
    outline-color: $primary-color;
  }
}

select {
  // for some reason the select element has
  // slightly more padding than regular text inputs
  padding-top: .42rem;
  padding-bottom: .42rem;

  &:hover {
    cursor: pointer;
  }

}

fieldset {
  border: none;
  padding: .25rem 0;
  margin-top: 4rem;
  margin-bottom: 1rem;

  &.hidden {
    display: none;
  }
  
  legend {
    font-size: 1.2rem;
    font-weight: $semibold;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}

.input-wrapper {
  @include flex(column, flex-start, flex-start);
  gap: $input-gap;
  
  &.inline {
    @include flex(row, flex-start, flex-end);
    align-self: stretch;
    margin-top: .3rem;
    
    input {
      flex-grow: 1;
    }

    .checkbox-container {
      margin: .25rem 0;
    }
  }

  &.small {
    button, input {
      padding: $input-padding-small;
      font-size: .8rem;
      
      i {
        font-size: .8rem;
      }
    }
  }
}

.add-field-button {
  display: inline-block;
  color: $font-light;
  font-size: .8rem;
  font-weight: $bold;
  text-transform: uppercase;
  padding: $input-padding;
  i {
    font-size: inherit;
  }
  
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.logo-image {
  height: 100%;
  width: auto;
}

// CUSTOM SCROLLBAR

::-webkit-scrollbar {
  width: 10px;
}

// Track
::-webkit-scrollbar-track {
  background: $hover-dark;
  border-radius: 10px;
  
}

// handle
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
  border: 3px solid $hover-dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color-hover;
}

// hides visually but still accessible to screen readers
.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

// "back" text link and "continue" button most likely
.form-navigation-buttons {
  @include flex(row, flex-end, center);
  gap: 1rem;
  
}

/****************************************
    MAIN PAGE CONTENT LAYOUT
*****************************************/

.main-content-wrapper {
  @include flex(row, center, flex-start);
  width: 100%;
  gap: 1.5rem;
}

.main-content {
  @include flex(column, flex-start, center);
  width: clamp(900px, 50%, 1200px);
  gap: 1rem;
  
  &.narrow {
    width: clamp(600px, 50%, 1000px);
  }
  
}

.content-block {
  width: 100%;
  // border: 1px dashed cyan;
  
}

.card {
  background: white;
  border-radius: $border-radius-main;
  border: 1px solid $bg-dark;
  padding: 1rem;
  box-shadow: $box-shadow-main;
}

.results-found {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: $font-light;
  span {
    font-weight: $semibold;
    color: $font-color;
  }
}

