@import 'var';
@import 'mixins';
@import 'product-page';

* {
  font-family: $main-font;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $font-color;
  background: $bg-color;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  // clear space for header
  margin-top: $header-height;
  @include flex(row, center, center);
  padding: 1.5rem 0rem;

}

h1, h2, h3, h4 {
  font-family: $heading-font;
  font-weight: $semibold;
  text-transform: uppercase;
  margin-top: 0; // remove default top margin

  span {
    color: $primary-color;
    font-family: inherit; 
  }
}

p {
  margin-top: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

ul {
  margin: 0;
}



// icon size when using bootstrap icons
i {
  font-size: 1rem;
  color: inherit;
}

.icon-link {
  line-height: 0; // fixes icon height being greater than width
  @include flex(row, center, center);
  padding: $icon-size;
  border-radius: 20rem;
  color: $primary-color;
  background: transparent;
  transition: background 100ms;
  
  &:hover {
    background: $primary-color-light;
  }

  i {
    font-size: 1.5rem;
  }

  span {
    color: inherit;
    font-weight: bold;
    margin: 0 .3rem;
  }

  &.light {
    color: $primary-color-text;
    &:hover {
      background: $primary-color-hover;
    }
  }
}

button {
  outline: none;
  border: none;
  background: $primary-color;
  color: white;
  font-family: $heading-font;
  font-weight: $semibold;
  padding: $input-padding;
  border-radius: $border-radius-main;
  text-transform: uppercase;
  transition: background 100ms;

  &:hover {
    background: $primary-color-hover;
    cursor: pointer;
  }

  &.secondary {
    background: $secondary-color;
    color: $secondary-color-text;

    &:hover {
      background: $secondary-color-hover;
    }
  }

  &:disabled {
    background: $font-light;
    cursor: initial;
  }
}

// checkbox input label
.checkbox-container {
  @include flex(row, flex-start, center);
  gap: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  &:hover {
    cursor: pointer;
  }
  
  // hide input element
  input {
    height: 0;
    width: 0;
    display: none;
  }

  .checkbox {
    @include flex(row, center, center);
    width: 20px;
    height: 20px;
    line-height: 0;
    border: 2px solid #757575;
    border-radius: $border-radius-small;
    color: transparent; // hide checkmark
    
    i {
      font-size: 1.5rem;
    }
  }
  
  input:checked ~ .checkbox {
    background: $primary-color;
    color: white;
    border: 0;
  }
}


input[type="text"] {
  padding: $input-padding;
  border-radius: $border-radius-main;
  border: $border-light;
  font-size: 1rem;
}

.input-wrapper {
  @include flex(column, flex-start, flex-start);
  gap: $input-gap;
  
  &.inline {
    @include flex(row, flex-start, flex-end);
    align-self: stretch;
    
    input[type="text"] {
      flex-grow: 1;
      min-width: 200px;
      max-width: 400px;
    }
  }

  &.small {
    button, input {
      padding: $input-padding-small;
      font-size: .8rem;
      
      i {
        font-size: .8rem;
      }
    }
  }
}

.logo-image {
  height: 100%;
  width: auto;
}

/****************************************
    MAIN PAGE CONTENT LAYOUT
*****************************************/

.main-content-wrapper {
  @include flex(row, center, flex-start);
  width: 100%;
  gap: 1rem;
}

.main-content {
  @include flex(column, center, center);
  width: clamp(900px, 50%, 1200px);
  gap: 1rem;
  
}

.content-block {
  width: 100%;
  // border: 1px dashed cyan;

  
}

.card {
  background: white;
  border-radius: $border-radius-main;
  border: 1px solid $bg-dark;
  padding: 1rem;
  box-shadow: $box-shadow-main;
}

.results-found {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: $font-light;
  span {
    font-weight: $semibold;
    color: $font-color;
  }
}

