
.product-wrapper {
  @include flex(row, center, flex-start);
  gap: 1rem;

}

.product-column {
  width: 50%;

  img {
    max-width: 100%;
    border: 1px solid $bg-dark;
    &:hover {
      cursor: pointer;
    }
  }

  .thumbnail-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: .5rem;
    margin-top: .5rem;
    
    .thumbnail {
      transition: all 100ms;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .breadcrumbs {
    font-weight: $semibold;
    color: $primary-color;

  }

  .info-group {
    margin: 1rem 0;

    h1, h2 {
      display: inline;
    }

    h2 {
      font-size: 1.2rem;
      line-height: 2;
    }

    &.product-text {

      .price {
        font-weight: $semibold;
        font-size: 1.5rem;
      }
    
    }

    span {
      font-weight: $semibold;
      margin: 0 .5rem;
    }

    .product-colors-wrapper {
      @include flex(row, flex-start, center);
      gap: .5rem;

      .product-color-input {
        display: flex;

      }

      input {
        width: 0;
        height: 0;
        display: none;
      }

      input:checked ~ .radio {
        border: 2px solid $primary-color;
        box-sizing: content-box;
      }
  
      input:disabled ~ .radio {
        opacity: 0.5;
        
      }

      .product-color {
        height: 2rem;
        width: 2rem;


        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }

    .product-colors-wrapper {
      

    }

    .sizes-wrapper {
      @include flex(row, flex-start, center, wrap);
      gap: .25rem;

      .size-container {
        @include flex(row, center, center);
        font-size: 1.2rem;

        input {
          height: 0;
          width: 0;
          display: none;
        }
        
        .radio {
          position: relative;
          width: 60px;
          padding: .5rem 0;
          text-align: center;
          border: $border-light;
          background: white;
          border-radius: $border-radius-main;
          color: inherit;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          transition: background 50ms;
          
          &:hover {
            cursor: pointer;
            background: $hover-light;
          }
        }

        input:checked ~ .radio {
          background: $primary-color;
          color: white;
        }

        input:disabled ~ .radio {
          background: $bg-dark;
          color: $font-light;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            clip-path: polygon(98% 0, 100% 0, 100% 2%, 2% 100%, 0% 100%, 0% 98%);
            background: $font-light;
            
          }
        }
      }

    }

    
    
  }

  ul {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  #add-to-cart {
    width: 100%;
    max-width: 500px;
    font-size: 1.2rem;
    
  }

}