
// mobile alerts & popups

.popup-container {
  .popup-wrapper {

    .popup-content {

      .popup-icon {
        h1 {
          font-size: 1.5rem;
        }
      }

    }

    .popup-buttons {
      align-self: center;
      @include flex(column, center, center);
      gap: 2rem;
      margin-bottom: 1rem;
      .text-button {
        order: 2;
      }
    }
  }
}