
// mobile category cards

.category-cards-wrapper {
  @include flex(row, space-evenly, flex-start, wrap);
  gap: 1rem;
}

.category-card {
  width: clamp(150px, 40vw, 200px);

}

.card-image {
  width: clamp(80px, 30vw, 150px);
  height: clamp(80px, 30vw, 150px);

}

