
// mobile category cards

.category-cards-wrapper {
  @include flex(row, space-evenly, flex-start, wrap);
  gap: 2rem;
}

.category-card {
  width: 45%;
  min-width: 250px;
}

.card-image {
  width: clamp(150px, 10vw, 200px);
  height: clamp(150px, 10vw, 200px);
}

