
// mobile header


  
// hide main header on mobile
.header-wrapper-main {
  display: none;
}

.header-wrapper-mobile {
  @include flex(row, stretch, stretch);
  width: 100%;
  position: relative;

}

.header-section {
  
  @include flex(row, center, center);
  margin: 1rem;
  
  .logo-image {
    height: $header-height-mobile;
    padding: 0;
  }

  &.left {
    @include flex(row, flex-start, center);
  }
  
  &.center {
    @include flex(row, center, center);
    min-width: inherit;
    max-width: inherit;
    
    
  }
  
  &.right {
    @include flex(row, flex-end, center);
    
  }
  
}

.header-mega-menu {
  top: 100%;
  height: calc(100vh - $header-height-mobile);
  overflow: hidden;

  &.show {
    display: flex;
  }

}

.mobile-nav {
  width: 100%;
}

.nav-items {
  @include flex(column, center, stretch);
}

.nav-link {
  font-size: 2rem;
  border: 1px solid $hover-dark;
  padding: 2.5rem;

  &:hover {
    &:after {
      visibility: hidden;
    }
  }
}

.mobile-nav-toggle {

  .nav-toggle-icon {
    @include flex(column, center, stretch);
    gap: .4rem;
    width: 2.5rem;
    height: 2.5rem;
    
    .icon-line {
      background: $primary-color;
      border: 3px solid $primary-color;
      transition: all .2s ease-out;
      opacity: 1;
    
    }
  
    .icon-line:nth-child(2) {
      width: 100%;
    }
  
  }

  &.active {
    .nav-toggle-icon {
      gap: 0;
    }

    // px value accounts for border thickness to properly align X
    .icon-line:first-child {
      transform: translateY(calc(.5rem - 1.5px)) rotate(45deg);
    }
    
    .icon-line:last-child {
      transform: translateY(calc(-.5rem + 1.5px)) rotate(-45deg);
    }

    .icon-line:nth-child(2) {
      opacity: 0;
    }
  }

}


