
// mobile layout

main {
  margin-top: $header-height-mobile;
  padding: 0;

}

.main-content-wrapper {
  justify-content: stretch;

  &.mobile-column {
    @include flex(column, stretch, flex-start);
    gap: 0;
  }

}

.main-content {
  width: 100%;
  gap: 1rem;
  margin-bottom: 0;
  &.narrow {
    width: inherit;
  }

  &.filter-bar-clear {
    margin-top: 3rem;
  }
}

.content-block {
  padding: $mobile-content-padding;

  &.mobile-full-width {
    // don't add padding on mobile
    padding: 0;
    .card {
      border-radius: 0;
    }
    
  }
}

.icon-link {

  &:hover {
    background: none;
  }
  &:active {
    background: $primary-color-light;
  }
}


input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea,
select {
  padding: $input-padding;
  border-radius: $border-radius-main;
  border: $border-light;
  font-size: 1rem;
  width: clamp(150px, 100%, 600px);


}

.input-wrapper {
  
  gap: $input-gap-mobile;
  margin-bottom: calc($input-gap-mobile - 0.3rem);
  
  &.inline {
    flex-wrap: wrap;
    &.mobile-inline {
      gap: .5rem;
      flex-wrap: nowrap;
      align-items: center;

      &.small {
        input {
          padding: $input-padding-mobile;
          font-size: 1rem;
        }
      }
    }

  }

  input, select {
    font-size: 1.2rem;
    padding: $input-padding-mobile;
  }

  
}