
// mobile layout

main {
  margin-top: $header-height-mobile;

}

.main-content-wrapper {
  justify-content: stretch;

}

.main-content {
  width: 100%;

  &.narrow {
    width: inherit;
  }
}

.content-block {
  padding: $mobile-content-padding;

  &.mobile-full-width {
    // don't add padding on mobile
    padding: 0;
    
  }
}