.carousel-control {

  z-index: 1;

  &.prev {
    left: .5rem;
  }
  &.next {
    right: .5rem;
  }
}

.product-cards {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-items: center;
}

.product-card-image {
  img {
    width: 130px;
    height: 130px;
  }
}

.brand {
  font-size: .8rem;
}

.product-name {
  font-size: 1.1rem;
}

.colors-text {
  font-size: .8rem;
}
